---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar';
import SecuritySettings from '../../components/settings/SecuritySettings';
---

<Layout title="Información personal">

  <Navbar client:load />

  <main class="pt-24">

    <SecuritySettings client:load />

  </main>

</Layout>