<section
  id="who"

  class="
    mx-auto
    max-w-6xl
    px-6
    py-40
  "
>

  <p
    class="
      mb-6
      text-m
      uppercase
      tracking-[0.5em]
      text-yellow-400
    "
  >
    ¿Quiénes somos?
  </p>


  <h2
    class="
      max-w-4xl
      font-serif
      text-5xl
      leading-tight
      md:text-7xl
    "
  >
    Redefiniendo los
    estándares de seguridad,
    discreción y respeto.
  </h2>

  <div class="mx-auto
    flex
    max-w-7xl
    flex-col
    items-center
    gap-20
    px-6
    py-8
    md:flex-row">
    <div class="flex-1">

  <p
    class="
      mt-10
      max-w-3xl
      text-lg
      leading-relaxed
      text-yellow-400/90
    "
  >
    Dentro de una industria que
durante demasiado tiempo ha operado sin ellos. Nacemos con
una convicción clara: quienes forman parte de este entorno
merecen un espacio donde su integridad, su privacidad y su
autonomía no sean negociables.
En VALHALLA conectamos personas bajo principios firmes,
utilizando procesos cuidadosamente diseñados para proteger a
quienes ofrecen sus servicios y a quienes los buscan. No somos
un intermediario más. Somos una estructura pensada para
elevar la experiencia, reducir riesgos y devolver el control a
quienes siempre debieron tenerlo. Creemos en un modelo más
digno, más seguro y más transparente
  </p>

</div>
    <div class="flex-1 overflow-hidden rounded-lg">
      <img
        src="/assets/quienessomos.jpeg"
        alt="¿Quiénes somos?"
        class="
      w-full
      object-cover
      transition-transform
      duration-700
      hover:scale-105
    "
      />
    </div>
</div>

</section>