---
import ContactIcon from '../components/contactIcon.astro';
---

<section
  id="contact"

  class="
    mx-auto
    max-w-6xl
    px-6
    py-40
  "
>

  <p
    class="
      mb-6
      text-m
      uppercase
      tracking-[0.5em]
      text-yellow-400
    "
  >
    Contacto:
  </p>


  <h2
    class="
      max-w-4xl
      font-serif
      text-5xl
      leading-tight
      md:text-7xl
    "
  >
    Puedes contactarnos a través de nuestros canales oficiales:
  </h2>

  <div class="mx-auto
    flex
    max-w-7xl
    flex-col
    items-center
    gap-20
    px-6
    py-8
    md:flex-row">
    <div class="flex-1">

  <div
  class="
    mt-10
    flex
    items-center
    gap-5
  "
>



  <div class="mt-12 space-y-6">

  <a

    href="https://wa.me/573502079446"

    target="_blank"

    class="
      group
      flex
      items-center
      gap-5

      rounded-2xl

      border
      border-zinc-800

      bg-zinc-950

      p-5

      transition-all
      duration-300

      hover:border-[#c59630]
      hover:bg-zinc-900
    "

  >

    <ContactIcon type="whatsapp" />

    <div>

      <p
        class="
          text-sm
          uppercase
          tracking-widest
          text-zinc-500
        "
      >

        WhatsApp

      </p>

      <p
        class="
          text-lg
          transition
          group-hover:text-white
        "
      >

        350 207 9446

      </p>

    </div>

  </a>

  <a

    href="mailto:valhallaescortcolombia@gmail.com"

    class="
      group
      flex
      items-center
      gap-5

      rounded-2xl

      border
      border-zinc-800

      bg-zinc-950

      p-5

      transition-all
      duration-300

      hover:border-[#c59630]
      hover:bg-zinc-900
    "

  >

    <ContactIcon type="email" />

    <div>

      <p
        class="
          text-sm
          uppercase
          tracking-widest
          text-zinc-500
        "
      >

        Correo electrónico

      </p>

      <p
        class="
          text-lg
          break-all
          transition
          group-hover:text-white
        "
      >

        valhallaescortcolombia@gmail.com

      </p>

    </div>

  </a>

</div>

</div>

</div>

    <div class="flex-1 overflow-hidden rounded-lg">
      <img
        src="/assets/contactanos.jpeg"
        alt="Contacto"
        class="
      w-full
      object-cover
      transition-transform
      duration-700
      hover:scale-105
    "
      />
    </div>
</div>

</section>