<section
  id="contact"

  class="
    mx-auto
    max-w-6xl
    px-6
    py-40
  "
>

  <p
    class="
      mb-6
      text-m
      uppercase
      tracking-[0.5em]
      text-zinc-400
    "
  >
    Contacto:
  </p>


  <h2
    class="
      max-w-4xl
      font-serif
      text-5xl
      leading-tight
      md:text-7xl
    "
  >
    Puedes contactarnos a través de nuestros canales oficiales:
  </h2>

  <div class="mx-auto
    flex
    max-w-7xl
    flex-col
    items-center
    gap-20
    px-6
    py-8
    md:flex-row">
    <div class="flex-1">

  <p
    class="
      mt-10
      max-w-3xl
      text-lg
      leading-relaxed
      text-zinc-400
    "
  >
    Whatsapp: 323  648 9454 <br />
    Correo electrónico: valhallaescort@gmail.com
  </p>

</div>
    <div class="flex-1 overflow-hidden rounded-lg">
      <img
        src="/assets/contactanos.jpeg"
        alt="Contacto"
        class="
      w-full
      object-cover
      transition-transform
      duration-700
      hover:scale-105
    "
      />
    </div>
</div>

</section>