---
import { ACTION_QUERY_PARAMS } from "astro:actions";
---

<section
  id="why"

  class="
    mx-auto
    max-w-6xl
    px-6
    py-40
  "
>

  <p
    class="
      mb-6
      text-m
      uppercase
      tracking-[0.5em]
      text-yellow-400
    "
  >
    ¿Por qué elegir VALHALLA?
  </p>


  <h2
    class="
      max-w-4xl
      font-serif
      text-5xl
      leading-tight
      md:text-7xl
    "
  >
    Porque VALHALLA no es solo un espacio de conexión
  </h2>

  <div class="mx-auto
    flex
    max-w-7xl
    flex-col
    items-center
    gap-20
    px-6
    py-8
    md:flex-row-reverse">
    <div class="flex-1">

  <p
    class="
      mt-10
      max-w-3xl
      text-lg
      leading-relaxed
      text-yellow-400
    "
  >
   Es un entorno diseñado para proteger tu tiempo, tu
seguridad y tu autonomía esa es nuestra misión y
visión. </p><p class="
      mt-10
      max-w-3xl
      text-lg
      leading-relaxed
      text-yellow-400
    ">
Cada interacción está pensada para reducir riesgos,
garantizar discreción y ofrecer una experiencia clara y
controlada para todos. Además, respaldamos a quienes
forman parte de nuestra plataforma con medidas
reales, basadas en el soporte 24/7, y visibilidad
totalmente gratuita. No ofrecemos promesas vacías.
Ofrecemos estructura, respaldo y un estándar que
responde cuando realmente importa.
  </p>

</div>
    <div class="flex-1 overflow-hidden rounded-lg">
      <img
        src="/assets/porqueelegirnos.jpeg"
        alt="¿Por qué elegir VALHALLA?"
        class="
      w-full
      object-cover
      transition-transform
      duration-700
      hover:scale-105
    "
      />
    </div>
</div>

</section>