<section
  id="soyescort"

  class="
    relative
    overflow-hidden
 
    px-6
    py-40
    bg-cover
    bg-center
    bg-fixed
  "

  style="
    background-image:
    url('/assets/Valhalla 5.jpeg');
  "
>
<div
    class="
      absolute
      inset-0
      bg-black/60
    "
  ></div>
 <div
    class="
      relative
      z-10
      mx-auto
      max-w-4xl
      text-center
      
    "
  >
  <p
    class="
      mb-6
      text-m
      uppercase
      tracking-[0.5em]
      text-zinc-400
    "
  >
    ¿Eres Escort?
  </p>


  <h2
    class="
      max-w-4xl
      font-serif
      text-5xl
      leading-tight
      md:text-7xl
    "
  >
   Puedes registrarte o ingresar aquí:
  </h2>


  <div
  class="
    mt-12
    flex
    flex-col
    items-center
    gap-6
    md:flex-row
    md:justify-center
  "
>

  <a
    href="/register"

    class="
      rounded-xl
      border
      border-white/20
      bg-[#7a6200]
      px-12
      py-3
      text-xs
      font-semibold
      uppercase
      tracking-[0.25em]
      text-white
      transition
      hover:scale-105
    "
  >
    Registrarse
  </a>


  <a
    href="/login"

    class="
      rounded-xl
      border
      border-white/20
      bg-transparent
      px-12
      py-3
      text-xs
      font-semibold
      uppercase
      tracking-[0.25em]
      text-white
      transition
      hover:scale-105
      hover:bg-white
      hover:text-black
    "
  >
    Ingresar
  </a>

</div>
 </div>

</section>