---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar';
import AdminDashboard from '../../components/admin/AdminDashboard';
---

<Layout title="Panel de administrador">

  <Navbar client:load />

  <main class="pt-24">

    <AdminDashboard client:load />

  </main>

</Layout>